body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 350px;
    height: 70vh;
    background-color: white;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}