body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

p {
    text-align: center;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

.payment {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin: 0;
    border-radius: 10px;
}


.note {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: hsl(225, 100%, 94%);
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
}

.change-text {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    cursor: pointer;
    transition: opacity 0.2s;
}

.change-text:hover {
    opacity: 0.7;
}

.change-text:active {
    opacity: 0.5;
}